header {
	max-width: 1444px;
	height: 100px;
	background-color: #fff;
	display: flex;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
}
header > div {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav {
	display: flex;
	list-style-type: none;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}
header a {
	width: 80px;
	height: 40px;
}
header img {
	width: 100%;
	object-fit: cover;
}

.sell {
	outline: var(--main-teal) 1px solid;
	border-radius: 3px;
	width: fit-content;
	height: fit-content;
	padding: 8px 20px;
	margin: 10px;
	background-color: var(--main-teal);
	color: #fff;
	text-decoration: none;
	transition: ease-in 0.1s;
}
.sell:hover {
	color: var(--main-teal);
	background-color: #fff;
	transition: ease-in 0.1s;
}
.signout {
	background-color: #d63f60;
	color: #fff;
	outline: none;
	margin-left: 120px;
}

.search {
	width: 500px;
	position: relative;
}
.search input {
	width: 400px;
	font-size: 20px;
	font-family: "Maison Neue", sans-serif;
	outline: none;
	border: none;
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 12px 12px 12px 45px;
}
.search input::placeholder {
	color: grey;
}
.search-icon {
	font-size: 20px;
	color: #979797;
	position: absolute;
	top: 12px;
	left: 10px;
}
.mobile {
	display: none;
}
@media (max-width: 960px) {
	.large {
		display: none;
	}
	header {
		margin: 0 10%;
	}
	.mobile {
		display: inherit;
	}
}
