.modal-container {
	position: absolute;
	top: 0;
	left: -10%;
	width: 120vw;
	height: 100vh;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.39);
}

.modal {
	width: 35%;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	align-items: center;
}
.close-modal {
	align-self: flex-end;
	margin: 20px 30px 0 0;
	font-size: 24px;
	padding: 5px 12px;
}
.modal form {
	margin: 10px 100px 30px 100px;
	width: 300px;
}
.modal input {
	margin-top: 20px;
}
.modal span {
	font-size: 28px;
	font-weight: 700;
}
.modal input[type="submit"] {
	cursor: pointer;
}
