/* Other rules */
* {
	box-sizing: border-box;
}
:root {
	--main-teal: #09aeb7;
}
body {
	font-family: Lato, sans-serif;
}
.product-details {
	display: flex;
	flex-direction: column;
}
section {
	width: 1280px;
	margin: 50px auto;
}
section h2 {
	font-size: 28px;
	font-weight: 600;
	padding: 20px 0 40px 0;
}
.products-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 15px;
	justify-content: flex-start;
}

.products-container a {
	color: black;
	text-decoration: none;
	flex: 0 1 15%;
	cursor: pointer;
}
.product-item img {
	width: 230px;
	height: 360px;
	object-fit: cover;
}
.signup-page {
	width: 1200px;
	height: 90vh;
}
.signup {
	margin: 70px auto;
	width: 30%;
	height: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.signup span {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 20px;
}

.signup input {
	border: none;
	border-bottom: 1px solid rgb(226, 141, 141);
	padding: 10px;
	font-size: 20px;
	outline: none;
}
.signup input::placeholder {
	color: #adadad9f;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
}

.signup input[type="submit"] {
	background-color: var(--main-teal);
	border: none;
	margin-top: 50px;
	padding: 20px 30%;
	border-radius: 10px;
	color: #fff;
}
